.popupBase {
    position: absolute;
    top: var(--measure_headerHeight_deviceDS);
    left: 0;
    right: 0;
    background-color: var(--col_backgroundDark);
    overflow: hidden;
    opacity: 0.8;
}

.popupContentContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 10px;
    height: var(--measure_navPopupMaxHeight_deviceDS);
}

.popupContentContainer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popupContainerCloseButton {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: var(--col_menuIcons);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.7rem 0rem 0.7rem 1rem;
}

/* STYLE AGENT
 * The Style Agent is a utility that generates CSS class names for different components
 * of the navigation menu. It ensures consistent naming across different device types
 * (desktop, phone-portrait, phone-landscape) by appending the device type to each class name.
 *
 * The Style Agent provides the following classes:
 * - navlink_main_container: Styles for the main navigation container
 * - navlink_main_item: Styles for main navigation links
 * - navlink_main_navlink_sub_item: Styles for main navigation links that have submenus
 * - navlink_main_navlink_sub_icon: Styles for the submenu indicator icon
 * - navlink_sub_container: Styles for the submenu container when it's closed
 * - navlink_sub_container_open: Styles for the submenu container when it's open
 * - navlink_sub_item: Styles for individual items within the submenu
 * - navlink_animated_sub_container: Styles for animated submenu containers
 *
 * These classes are used in combination with the device-specific suffix (e.g., _desktop_sm)
 * to create the full class names used in the CSS below.
 *
 * The Style Agent helps maintain consistency and makes it easier to manage styles
 * across different device types and components of the navigation menu.
 * It is defined in the StyleAgent.ts file and imported where needed.
 *
 * Note: In this file, we're using the '_desktop_sm' suffix, which stands for desktop small.
 * This is specific to the DesktopPopup component and its associated styles.
 */

.navlinkMainItem_deviceDS {
    font-family: var(--typo_navLink);
    font-size: 130%;
    line-height: 1.4;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--col_navLinkNegative);
    padding: 0px 0px 3px 40px;
    box-sizing: border-box;
}

.navlinkMainSubItem_deviceDS {
    font-family: var(--typo_navLink);
    font-size: 110%;
    text-decoration: none;
    color: var(--col_navLinkNegative);
    padding: 0 0 5px 20px;
    cursor: pointer;
    width: 100%;
}

.navlinkMainItemActive_deviceDS {
    color: var(--col_navLinkActiveNegative);
    font-weight: bold;
}

.navlinkSubItemActive_deviceDS {
    color: var(--col_navLinkActiveNegative);
    font-weight: bold;
}

.navlinkMainSubIcon_deviceDS {
    color: var(--col_menuIcons);
    font-size: 60%;
    margin-left: 5px;
}

/* Styles for the submenu containers within the desktop popup */
/* The .popupContainer_desktop_sm prefix ensures these styles only apply to the desktop popup navigation */
/* This approach allows for component-specific styling and prevents conflicts with other navigation components */

.navlinkAnimatedSubContainer_deviceDS {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--col_background-dark);
}

.navlinkSubItem_deviceDS {
    font-family: var(--typo_navLink);
    font-size: 100%;
    text-decoration: none;
    color: var(--col_navLinkNegative);
    display: flex;
    width: 100%;
    padding: 0 0 20px 40px;
    margin: 0;
}

.navlinkSubItem_deviceDS:hover {
    color: var(--col_menuIcons);
}