.navBase {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 0;
    right: 0;
}

.navBase ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Hamburger Icon*/
.navMenuIcon {
    color: var(--col_menuIcons);
    font-size: 180%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}


/* STYLE AGENT
 * The Style Agent is a utility that generates CSS class names for different components
 * of the navigation menu. It ensures consistent naming across different device types
 * (desktop, phone-portrait, phone-landscape) by appending the device type to each class name.
 *
 * The Style Agent provides the following classes:
 * - navlink_main_container: Styles for the main navigation container
 * - navlink_main_item: Styles for main navigation links
 * - navlink_main_navlink_sub_item: Styles for main navigation links that have submenus
 * - navlink_main_navlink_sub_icon: Styles for the submenu indicator icon
 * - navlink_sub_container: Styles for the submenu container when it's closed
 * - navlink_sub_container_open: Styles for the submenu container when it's open
 * - navlink_sub_item: Styles for individual items within the submenu
 *
 * These classes are used in combination with the device-specific suffix (e.g., _desktop_sm)
 * to create the full class names used in the CSS below.
 *
 * The Style Agent helps maintain consistency and makes it easier to manage styles
 * across different device types and components of the navigation menu.
 * It is defined in the StyleAgent.ts file and imported where needed.
 *
 * Note: In this file, we're using the '_desktop_sm' suffix, which stands for desktop small.
 * This is specific to the DesktopPopup component and its associated styles.
 */

.navlinkMainContainer_devicePL {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navlinkMainItem_devicePL {
    font-family: var(--typo_navLink);
    font-size: 140%;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--col_navLinkPositive);
    padding: 0px 20px;
    box-sizing: border-box;
}

.navlinkMainSubItem_devicePL {
    font-family: var(--typo_navLink);
    font-size: 120%;
    text-decoration: none;
    color: var(--col_navLinkPositive);
    padding: 3px 20px;
    display: block;
    cursor: pointer;
    width: 100%;
}

.navlinkMainItemActive_devicePL {
    color: var(--col_navLinkActivePositive);
    font-weight: bolder;
}

.navlinkSubItemActive_devicePL {
    font-family: var(--typo_navLink);
    color: var(--col_navLinkActivePositive);
    font-weight: bold;
}

.navlinkMainSubIcon_devicePL {
    color: var(--col_menuIcons);
    font-size: 60%;
    margin-left: 5px;
}

/* Styles for the submenu containers within the desktop popup */
/* The .popup-container_desktop_sm prefix ensures these styles only apply to the desktop popup navigation */
/* This approach allows for component-specific styling and prevents conflicts with other navigation components */

/* Styles for the closed submenu container */
.navlinkSubContainer_devicePL {
    /* Added the dot (.) */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Styles for the open submenu container */
.navlinkSubContainerOpen_devicePL {
    max-height: 500px;
    /* Adjust this value based on your content */
    transition: max-height 0.5s ease-in;
}

.navlinkSubItem_devicePL {
    font-family: var(--typo_navLink);
    font-size: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    display: block;
    width: 100%;
}

.navlinkAnimatedSubContainer_devicePL {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}